body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 100vh;
    background: url(../images/injection-die-casting.jpg);
}
.header-bg{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: royalblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 10;
}
.logo a{
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900px;
    color:  #0f0;
    text-shadow: 2px 2px 2px red;
    padding-left: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
}
nav ul li{
    padding: 10px 10px;
}
nav ul li a{
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    color: #ddd;
}

.welcome{
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome h2{
    color: #ddd;
    font-size: 34px;
    letter-spacing: 1px;
}
.welcome p{
    color: #ddd;
    text-align: justify;
    font-size: 20px;
    padding:0 20px;
    letter-spacing: 1px;
    line-height: 25px;
}
.welcome p span{
    font-size: 28px;
    color: blue;
}
button{
    width: 150px;
    font-size: 18px;
    border: 0px;
    outline: none;
    padding: 5px 10px;
    color: #ddd;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0);
    background:rgb(69, 69, 206) ;
    letter-spacing: 1px;
}
.welcome button{
    border-radius: 10px;
    box-shadow:1px 1px 2px blue;
}
.down-icon{
    margin-top: 10px;
    height: 30px;
    /* width: 20px; */
    position: relative;
    color: #ddd;
    /* border: 1px solid; */
}
.down-icon>i{
    position: absolute;
    animation: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes animate{
    0%{
        top: 0;
        color: #fff;
    }
    100%{
        top: 100%;
        color: orange;
    }
}

.heading{
    text-align: center;
    padding: 15px 0;
    /* background: chartreuse; */
}
.heading h1{
    font-size: 34px;
    letter-spacing: 2px;
    color: royalblue;
    text-transform: uppercase;
    text-decoration: underline;
}
.content-bx{
    display: flex;
    padding:0 200px;
    /* background: lightgray; */
}
.content-bx .left-side{
    min-height :200px;
    max-height: 300px;
    width: 50%;
    /* background: blueviolet; */
}
.content-bx .left-side img{
    min-height :200px;
    max-height: 300px;
}
.content-bx .right-side{
    min-height :200px;
    max-height: 300px;
    width: 50%;
}
.right-side h3{
    letter-spacing: 1px;
    color: darkgrey;
}
.right-side h3 span{
    color: cornflowerblue;
}
.right-side p{
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    color: darkgrey;
}
.work{
    padding: 20px;
}
.work-bx{
   display: flex;
   flex-wrap: wrap; 
   justify-content: center;
   /* align-items: center; */
}
.work-bx .img{
    padding: 30px;
    background: orange;
    margin: 10px;

}
.work-bx .img img{
    height: 90%;
    width: 100%;
}
.work-bx .img h3{
    text-align: center;
    color: #fff;
}
.contact-bx{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    width: 50%;
     display: flex;
     flex-direction: column;
     padding: 0 20px;
     box-shadow: 0 0 5px rgba(0,0,0,1);
     position: relative;
}
.contact h3{
    align-items: flex-start;
    color: blue;
}
.form,.address{
    width: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    padding: 20px 20px;
    box-sizing: border-box;
    border-top: 5px solid rgb(69, 69, 206);
}
.address{
    margin-bottom: 20px;
}
.form input,textarea{
    display: inline-block;
    margin: 5px 0;
    width: 100%;
    outline:none ;
    border: 0px;
    border-bottom: 1px solid grey;
    border-radius: 3px;
    background: #ddd;
    padding: 10px 10px;
    box-sizing: border-box;
}
.form > button{
    width: 80px;
}
.form > button:hover{
     background:#ddd;
     color: blue;
}
.address p{
    display: flex;
    font-size: 18px;
    /* line-height: 28px; */
    font-weight: 550;
    color: rgba(0,0,0,0.8);
}
.address p i{
    font-size: 22px;
    height: 40px;
    width: 40px;
    color:blue;
}

footer{
    height: 60px;
    width: 100%;
    margin-top: 30px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 18px;
    letter-spacing: 1px;
    color: #ddd;
    font-weight: 600;
}
footer p span{ color:rgba(0, 255, 0)}
footer p span a{
    color: rgba(0, 255, 0);
}

@media screen and (max-width:520px){
    nav{
        flex-direction: column;
    }
    .welcome{
        height: 100%;
        width: 100%;
    }
    .content-bx{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .content-bx .left-side{
        min-height :300px;
        max-height: 400px;
        width: 90%;
        background: blueviolet;
    }
    .content-bx .left-side img{
        min-height :300px;
        max-height: 400px;
        width: 100%;
    }
    .content-bx .right-side{
        width: 90%;
    }
    .contact{
        width: 70%;
    }
}
@media screen and (max-width:400px){
    .welcome{
        height: 100%;
        width: 100%;
}
}
@media screen and (max-width:320px){
    .welcome{
        height: 100%;
        width: 100%;
}
}
@media screen and (max-width:720px){
    .welcome{
        height: 100%;
        width: 80%;
    }
    .contact{
        width: 70%;
    }
    .content-bx{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}
@media screen and (max-width:850px){
    .welcome{
        height: 100%;
        width: 80%;
    }
    .contact{
        width: 60%;
    }
    .content-bx{
        align-items: center;
        padding:0 50px;
    }
}